# Gradle
.gradle/
build/
out/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Mac system files
.DS_Store

# Local data files
data/ 